* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  padding: 20px;
  position: relative;
  z-index: 1;
  color: white;
  background-color: #6200EE;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.brand {
  display: flex;
  align-items: center;
}
.menu span {
  margin-left: 10px;
}
.brand span {
  margin-right: 30px;
}
.banner {
  width: 500px;
  padding: 30px 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.banner p {
  margin-bottom: 30px;
}
.links {
  display: flex;
  justify-content: flex-end;
}
.links .link {
  margin-left: 50px;
  text-decoration: none;
  color: #6200EE;
  font-weight: bold;
}