@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

$color-primario: #6f6aef;
$color-fuente: white;

$fuente-principal: 'Roboto', sans-serif;

@mixin button-styles {
    border: none;
    font-weight: 500;
    color: $color-fuente;
    background-color: transparent;
}

body {
    margin: 0;
    font-family: $fuente-principal;
}